* {
    padding: 0;
}

.topnav ul {
    width: 96%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0px;
}

.topnav li a {
    display: inline;
    float: left;
    color: black;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    padding-top: 17px;
    color: rgba(0, 0, 0, 0.87);
    vertical-align: middle;
    padding-left: 16px;
    font-family: arial, sans-serif;
    font-size: 13px;
    line-height: 28px;
    position: static;
    border-radius: 2px;
}

li a:hover {
    text-decoration: underline;
}

#icon_1 img {
    height: 17.5px;
    width: 17.5px;
    padding-top: 6px;
    margin-left: 9px;
}

li #sign_in {
    color: #fff;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background-image: -webkit-linear-gradient(top, rgb(67, 135, 253), rgb(70, 131, 234));
    padding: 0 13px;
    margin-top: 17px;
    margin-left: 18px;
}

li .left {
    opacity: 0.75;
}

.topnav li .right {
    float: right;
}

#logo img{
    padding-top: 159px;
}

body {
    text-align: -webkit-center;
}

#container {
    width: 520px;
    height: 40px;
    margin: 0 auto;
    margin-top: 25px;
    text-align: left;
    padding: 5px 8px 0 16px;
    border-radius: 30px;
    display: flex;
    flex: 1;
    border: 1px solid #dfe1e5;
}

#container:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

input#search {
    width: 85%;
    height: 100%;
    position: relative;
    bottom: 5px;
    margin: 0 auto;
    color: black;
    border: 0;
}

#search:focus {
    border: 0;
    outline: 0;
}

#search::-webkit-search-cancel-button{
    position:relative;
    right: 20px;
}

svg {
  position: relative;
  width: 20px;
  height: 20px;
  top: 6px;
  color: #9aa0a6;
  fill: currentColor;
}

path#magnify_glass {
    width: 14px;
    height: auto;
    font-size: small; 
}

img#audio {
    width: 24px;
    height: 24px;
    position: relative;
    top: 5px;
    right: 10px;
}

button.buttons {
    display: inline-block;
    margin-top: 10px;
}

.buttons {
    background-color: #f2f2f2;
    color: #5f6368;
    font-family: arial, sans-serif;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
    margin: 11px 10px;
    position: relative;
    top: 20px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
}

.buttons:hover {
    color: black;
    border: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
}

#footer ul{
    width: 100%;
    list-style-type: none;
    margin: 0;
    margin-right: 35px;
    padding: 0;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    background-color: #f2f2f2;
    border-top: 1px solid  #dadce0;
    left: -1px;
}

#footer li a {
    display: inline;
    float: left;
    text-align: center;
    text-decoration: none;
    padding-top: 11px;
    color: #5f6368;
    vertical-align: middle;
    padding-left: 27px;
    font-family: arial, sans-serif;
    font-size: 14px;
    line-height: 28px;
    position: static;
    border-radius: 2px;
    margin-bottom: 10px;
}

#footer li a:hover {
    text-decoration: underline;
}

#footer li .right {
    float: right;
    margin-right: 20px;
    padding-left: 0px;
}
